@media only screen and (min-width: 1200px) {
	.container {
	    width: 1200px;
	}
}

@media only screen and (max-width: 767px) {
	blockquote {
		margin-left: 0;
		padding-left: 0;
		border: 0 none;
		font-size: 20px;
		line-height: 40px;
	}

	.h2,
	.splashes h1 {
		font-size: 24px;
		line-height: 30px;
	}

	body {
		padding-top: 70px;
	}

	.splashes .text-main {
		font-size: 16px;
		line-height: 22px;
	}

	.paragraph {
		font-size: 15px;
	}
}
