.contacts {
	padding-top: 50px;
}

.contacts.download-form h1 {
	margin-bottom: 12px;
}

.page-announce {
	font-size: 18px;
	line-height: 28px;
}

.contacts.download-form {
	padding-bottom: 40px;
}

.btn-appstore {
	display: block;
	margin: 0 auto;
	height: 44px;
	width: 173px;
	background-image: url(../images/sprite_download@x1.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
	.btn-appstore {
		background-image: url(../images/sprite_download@x2.png);
		background-size: 173px 68px;
	}
}
